html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-size: 1.5rem; }

body, .container, #root {
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  user-select: none; }

*, *::before, *::after {
  box-sizing: inherit; }

a {
  color: inherit;
  text-decoration: none; }

ul, ol {
  list-style: none; }

img {
  display: inline-block;
  vertical-align: top; }

pre, code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

button {
  border: none;
  background-color: inherit; }
  button:focus {
    outline: none; }

.header {
  background-color: rgba(0, 0, 0, 0.888);
  box-shadow: 0 2px 0 black;
  height: 8rem; }
  .header .heading {
    padding: .7rem 0; }
    .header .heading-primary > * {
      display: block;
      text-align: center;
      font-family: sans-serif; }
      .header .heading-primary > *:first-child {
        color: #FFF;
        text-shadow: 1px 1px 2px rgba(238, 238, 238, 0.76);
        font-size: 2.2rem;
        letter-spacing: .2rem;
        line-height: 8rem; }
      .header .heading-primary > *:nth-child(2) {
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.7rem;
        letter-spacing: .6rem;
        margin-top: -2rem; }

.main-content {
  margin-top: 2px;
  background-color: #111;
  color: #111 !important; }

.animated-bar {
  height: .2rem;
  background-image: linear-gradient(to right, #af0606, #EEE, #BBB, #666, #ff0000, #ff2a00, #ff3d00, #ff4c00);
  background-size: 300%;
  animation: animated-bar 14s linear infinite; }

@keyframes animated-bar {
  from {
    background-position: 0 0; }
  to {
    background-position: 300% 0; } }

.search-bar {
  padding: 3rem 0 7rem 0;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr; }
  .search-bar-input {
    display: flex;
    height: 5rem;
    width: 70%;
    min-width: 20rem;
    margin: 0 auto;
    border: 0;
    background-color: rgba(255, 0, 23, 0.78);
    line-height: 5rem;
    border-radius: 4px;
    color: #333; }
    .search-bar-input::placeholder {
      text-align: center;
      line-height: 5rem;
      color: #fff;
      font-size: 2rem;
      letter-spacing: 2rem; }
