.header {
  background-color: rgba(#000, .888);
  box-shadow: 0 2px 0 rgba(#000, 1);
  height: 8rem;
  .heading {
    padding: .7rem 0;
    &-primary {
      > * {
        display: block;
        text-align: center;
        font-family: sans-serif;
        &:first-child {
          color: #FFF;
          text-shadow: 1px 1px 2px rgba(#EEE, .76);
          font-size: 2.2rem;
          letter-spacing: .2rem;
          line-height: 8rem;
        }
        &:nth-child(2) {
          color: rgba(#fff, .6);
          font-size: 1.7rem;
          letter-spacing: .6rem;
          margin-top: -2rem;
        }
      }
    }
  }
}
